/* colors */
:root {
    --it-takes: #1F1F1F;
    --ps-plus: #BEBCBB;
}

/* generics */
section {
    min-height: 300px;
    margin-top: 30px;
}

.border-black {
    border: 1px dashed black;
}

.border-red {
    border: 1px dashed red;

}

img {
    max-width: 100%;

}

header {
    z-index: 1;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 500px;
    margin-top: 115px;
}

#it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 500px;
}

#nuove-uscite {
    background-color: var(--it-takes);
}

#nuove-uscite img {
    border-radius: 20px;
    padding: 5px;
}

#ps-plus {
    background-color: var(--ps-plus);
}

#ps-plus img {}

#sconti img {
    padding: 20px;
}