/* colors */
:root {
    --it-takes: #1F1F1F;
    --ps-plus: #BEBCBB;
    --ps-now: #161C3B;
    --ps-footer: #00439B;
    --text-no-limits: #589FDD;
    --btn-ps-plus: #D9DADC;
    --btn-text-bg-blu: #2E66E6;
}

/* generics */
section {
    margin-top: 30px;
}


img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header {
    position: relative;
    z-index: 1;
}

.navbar .btn:hover {
    border: 1px solid white;
    box-shadow: 0 0 10px black;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    margin-top: 115px;
}

#jumbotron img {
    height: 65px;
    width: 225px;
}

#games-options img {
    border-radius: 25px;
    padding: 5px;
    transition: 0.8s;
}

#games-options img:hover {
    border: 3px solid var(--text-no-limits);
    cursor: pointer;
    padding: 2px;
    transition: 0.8s;
    transform: scale(1.1);
}

#jumbotron .btn:hover,
#it-takes-two .btn:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px red;
}


#no-limits .my-blu-text {
    color: var(--text-no-limits);
}

#no-limits .items {
    opacity: 0.5;
    transition: 1s;

}

#no-limits .items:hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 2px solid var(--text-no-limits);
}

#no-limits .btn:hover,
#esplora .btn:hover {
    border: 1px solid white;
    box-shadow: 0 0 10px var(--btn-text-bg-blu);
}

#it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 500px;
}

#it-takes-two .my-bg-card {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 20px;

}

#it-takes-two img {
    height: 250px;
    width: 300px;
}

#nuove-uscite {
    background-color: var(--it-takes);
}

#nuove-uscite img {
    border-radius: 25px;
    padding: 10px;
}

#nuove-uscite img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--text-no-limits);


}

#nuove-uscite h6 {
    margin-bottom: 40px;
    margin-top: 10px;
}


#ps-plus {
    background-color: var(--ps-plus);
}

#ps-plus .my-btn-gray {
    background-color: var(--btn-ps-plus);
    color: var(--btn-text-bg-blu);

}

#ps-plus .logo-plus {
    height: 100px;
    width: auto;
}

#ps-plus .btn:hover,
#ps-now .btn:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px var(--btn-ps-plus);
}

#sconti img {
    padding: 20px;
}

#sconti img:hover,
#social .img-fluid:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--it-takes);

}

#ps-now {
    background-color: var(--ps-now);
}


#ps-footer {
    background-color: var(--ps-footer);
}

#ps-footer img {

    height: 65px;
}


#ps-footer p a {
    text-decoration: underline;
}