/* colors */
:root {
    --it-takes: #1F1F1F;
    --ps-plus: #BEBCBB;
    --ps-now: #161C3B;
    --ps-footer: #00439B;
    --text-no-limits: #589FDD;
    --btn-ps-plus: #D9DADC;
    --btn-text-bg-blu: #2E66E6;
}

/* generics */
section {
    min-height: 300px;
    /* todo ricordati di togliere la min height */
    margin-top: 30px;
}


img {
    max-width: 100%;
}

header {
    position: relative;
    z-index: 1;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    margin-top: 115px;
}

#jumbotron img {
    height: 65px;
    width: 225px;
}

#games-options img {
    border-radius: 25px;
    padding: 5px;
}

#games-options img:hover {
    border: 3px solid var(--text-no-limits);
    cursor: pointer;
    padding: 2px;
    transform: scale(1.1);
}


#no-limits .my-blu-text {
    color: var(--text-no-limits);
}

#no-limits .items {
    opacity: 0.5;

}

#no-limits .items:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 2px solid var(--text-no-limits);
}


#it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 500px;
}

#it-takes-two .my-bg-card {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;

    border-radius: 20px;

}

#it-takes-two img {
    height: 250px;
    width: 300px;
}

#nuove-uscite {
    background-color: var(--it-takes);
}

#nuove-uscite img {
    border-radius: 25px;
    padding: 10px;
}

#nuove-uscite img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--text-no-limits);
    ;

}

#nuove-uscite h6 {
    margin-bottom: 40px;
    margin-top: 10px;
}



#ps-plus {
    background-color: var(--ps-plus);
}

#ps-plus .my-btn-gray {
    background-color: var(--btn-ps-plus);
    color: var(--btn-text-bg-blu);

}



#sconti img {
    padding: 20px;
}

#ps-now {
    background-color: var(--ps-now);
}

#social img {
    padding: 10px;
}

#ps-footer {
    background-color: var(--ps-footer);
}

/* 
#ps-footer .white-logo {
    filter: brightness(0) invert(1);
} */